NODE_ENV=development
PORT=4000

# PostgreSQL
PGHOST=localhost
PGPORT=5432
PGUSER=postgres
PGPASSWORD=postgres
PG_DATABASE=money_tracker

# Admin inicial (se crea al hacer bootstrap si la tabla de usuarios esta vacia)
ADMIN_EMAIL=admin@moneytracker.dev
ADMIN_PASSWORD=cambia_esta_password

# CORS
CLIENT_URL=http://localhost:4200

# Google OAuth
GOOGLE_CLIENT_ID=tu_client_id_de_google.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=tu_client_secret_de_google

# JWT
JWT_ACCESS_SECRET=cambia_esto_access_secret_largo
JWT_REFRESH_SECRET=cambia_esto_refresh_secret_largo
ACCESS_TOKEN_MINUTES=15
REFRESH_TOKEN_HOURS=9
SESSION_IDLE_HOURS=3